
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Scripts/jquery-easyui-1.5.5.6/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/jquery-easyui-1.5.5.6/themes/icon.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-easyui-1.5.5.6/jquery.easyui.min.js"></script>
    <script src="~/js/att_index.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>考勤系统</title>
</head>
<body class="easyui-layout" data-options="fit:true">
    <div class="easyui-panel" style="padding:5px;width:100%;">
        <table width="100%">
            <tr>
                <td width="50%">
                    <a href="javascript:void(0)" id="hospital" class="easyui-linkbutton" onclick="stc_leave()" data-options="plain:true"><img src="/img/tag_blue.png">休假天数统计</a>
                    <a href="javascript:void(0)" id="hospital" class="easyui-linkbutton" onclick="stc_cc()" data-options="plain:true"><img src="/img/doc.png">出差天数统计</a>
                    <a href="javascript:void(0)" id="hospital" class="easyui-linkbutton" onclick="stc_att()" data-options="plain:true"><img src="/img/doc.png">考勤报表</a>
                </td>
            </tr>
        </table>
    </div>
    <iframe id="iframe_maincontent" src="/Att/StcOALeave" width="100%" height="98%" frameborder="0" scrolling="auto"></iframe>
</body>
</html>
