
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>正在验证</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/js/point_oa.js"></script>
</head>
<body>
    <div> 
        <a id="info"></a>
    </div>
</body>
</html>
