
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Scripts/jquery-easyui-1.5.5.6/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/jquery-easyui-1.5.5.6/themes/icon.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-easyui-1.5.5.6/jquery.easyui.min.js"></script>
    <script src="~/js/stc_att.js"></script>
    
    <meta name="viewport" content="width=device-width" />
    <title>StcAttr</title>
</head>
<body class="easyui-layout" data-options="fit:true">
    <div id="divLayout" class="easyui-layout" style="width:100%;height:100%;">
        <div style="margin:auto;z-index: 9999; position: fixed ! important; left: 5px; top: 4px;width:20%">
            <a id="pro"></a>
        </div>
        <table id="dg" class="easyui-datagrid" style="width:100%;height:95%;text-align:center"
               data-options="singleSelect:true,collapsible:false,toolbar:'#tb1'" rownumbers="false" pagination="false">
            <thead>
                <tr>
                    <th data-options="field:'LASTNAME',resizable:true" width="80px">姓名</th>
                    <th data-options="field:'MOBILE',resizable:true" width="120px">手机</th>
                    <th data-options="field:'LateCount',resizable:true" width="80px">迟到次数</th>
                    <th data-options="field:'EarlyCount',resizable:true" width="80px">早退次数</th>
                    <th data-options="field:'Trip',resizable:true" width="80px">出差天数</th>
                    <th data-options="field:'Leave0',resizable:true" width="60px">事假</th>
                    <th data-options="field:'Leave1',resizable:true" width="60px">病假</th>
                    <th data-options="field:'Leave2',resizable:true" width="60px">婚假</th>
                    <th data-options="field:'Leave3',resizable:true" width="60px">产假</th>
                    <th data-options="field:'Leave4',resizable:true" width="60px">丧假</th>
                    <th data-options="field:'Leave5',resizable:true" width="60px">年休假</th>
                    <th data-options="field:'Leave7',resizable:true" width="60px">陪产假</th>
                    <th data-options="field:'Leave6',resizable:true" width="60px">其他</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="tb1" style="padding:5px;height:auto">

        <input id="start_time" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser">
        -
        <input id="end_time" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:200px" onclick="Stc_Att()">计算考勤报表</a>
    </div>
</body>
</html>
